.card-body{
    background-color:  #c0392b!important;
}
.card-header{
    background-color: #f39c12!important;
}
.marge {
    margin-left: 0em;
    }
.marge1{
    margin-left: 0em;
}
.marge2{
    margin-left: 0em;
}
.marge3{
    margin-left: 0em;
}
.marge4{
    margin-left: 0em;
}